.calculator-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 423px;
}

.calculator-main-grid {
    display: grid;
    justify-content: center;
    place-items: center;
    height: 322px;
    width: 250px;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

.calculator-main-grid::selection,
.calculator-main-grid::-moz-selection {
    background: transparent;
}

.calculator-main-grid-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: inherit;
    height: 50px;
    width: 50px;
}

.svg {
    pointer-events: none;
}

.calculator-button:hover {
    color: #f00d94;
}

.calculator-button:hover .svg {
    fill: #f00d94;
}

.calculator-button:active {
    color: #fd5432;
}

.calculator-button:active .svg {
    fill: #fd5432;
}

.double-span {
    grid-column: span 2;
}

.equality {
    width: 120px;
    height: 50px;
    background: linear-gradient(90deg, #fd5432 0%, #f00d94 100%);
    border-radius: 25px;
    box-shadow: 0px 0px 50px 1px rgba(253, 84, 50, 0.2);
}

.equality:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #f00d94;
    background: #171717;
    box-shadow: unset;
}

.equality:active {
    border-color: #fd5432;
}
