@import './resetStyles.css';

html,
body,
button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #303030;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #272727;
    width: 380px;
    height: 384px;
    border-radius: 5px;
}

.calculator-output-screen {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 350px;
    height: 80px;
    border-radius: 5px;
}

.calculator-output-screen ul {
    padding-right: 15px;
}

.calculator-main {
    width: 350px;
    height: 240px;
    margin-top: 20px;
}

.calculator-main-outer-list::selection,
.calculator-main-outer-list::-moz-selection {
    background: transparent;
}

.calculator-main-outer-list-row {
    padding-top: 10px;
}

.calculator-main-outer-list-row:first-child {
    padding-top: 0px;
}

.calculator-main-outer-list-row ul {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.previous-operand {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #757575;
    font-size: 18px;
    width: 100%;
    height: 50%;
    padding-right: 15px;
}

.current-operand {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 36px;
    width: 100%;
    height: 50%;
    padding-right: 15px;
}

.calculator-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    background-color: #a6a6a6;
    border-radius: 5px;
    cursor: pointer;
}

.double-button {
    width: 170px;
}

.all-clear {
    background-color: #ff5151;
}

.remove-one-symbol {
    background-color: #b8a7ff;
}

.operator,
.equals,
.change-sign {
    background-color: #ff9500;
}
