@import './resetStyles.css';

html,
body,
button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #ffffff;
}

body {
    background: linear-gradient(90deg, #f00d95 0%, #fd5532 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #171717;
    width: 350px;
    height: 570px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}

.calculator-output-screen {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 147px;
    border-bottom: 1px solid #303030;
}

.calculator-output-screen {
    padding: 0 20px;
}

.calculator-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 423px;
}

.calculator-main ul {
    display: grid;
    justify-content: center;
    place-items: center;
    height: 322px;
    width: 250px;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

.calculator-main ul::selection,
.calculator-main ul::-moz-selection {
    background: transparent;
}

.calculator-main ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.previous-operand {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #757575;
    font-size: 18px;
    width: 100%;
    height: 50%;
}

.current-operand {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 48px;
    width: 100%;
    height: 50%;
}

.calculator-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: inherit;
    height: 50px;
    width: 50px;
}

.calculator-button object {
    pointer-events: none;
}

.calculator-button:hover {
    color: #f00d94;
}

.calculator-button:hover svg {
    fill: #f00d94;
}

.calculator-button:active {
    color: #fd5432;
}

.calculator-button:active svg {
    fill: #fd5432;
}

.double-span {
    grid-column: span 2;
}

.equality {
    width: 120px;
    height: 50px;
    background: linear-gradient(90deg, #fd5432 0%, #f00d94 100%);
    border-radius: 25px;
    box-shadow: 0px 0px 50px 1px rgba(253, 84, 50, 0.2);
}

.equality:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #f00d94;
    background: #171717;
    box-shadow: unset;
}

.equality:active {
    border-color: #fd5432;
}
